<?xml version="1.0" encoding="UTF-8"?>
<!-- web.xml的加载优先级：context-param->listener->filter(多个filter，按顺序初始化)->servlet(与filter类似) -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!-- web应用描述:给出于此相关的说明性文本 -->
	<display-name>Archetype Created Web Application</display-name>
	<!-- 默认打开页面 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
