<?xml version="1.0" encoding="UTF-8"?>
<!-- web.xml的加载优先级：context-param->listener->filter(多个filter，按顺序初始化)->servlet(与filter类似) -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!-- web应用描述:给出于此相关的说明性文本 -->
	<display-name>Archetype Created Web Application</display-name>
	
	<!-- 配置struts2 -->
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>
			<!-- 
				org.apache.struts2.dispatcher.FilterDispatcher是早期的struts2过滤器，2.1.3StrutsPrepareAndExecuteFilter开始替换FilterDispatcher
			--> 
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
		<init-param>
			<param-name>actionPackages</param-name>
			<param-value>com.xininit.controller</param-value>
		</init-param>
		
	</filter>
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	<!-- 配置spring -->
	<!-- 指定spring的配置文件，默认从web根目录寻找配置文件，我们可以通过spring提供的classpath:前缀指定从类路径下寻找 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:beans.xml</param-value>
	</context-param>
	<!-- 对Spring容器进行实例化 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 默认打开页面 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
