<?xml version="1.0" encoding="UTF-8"?>
<!-- web.xml的加载优先级：context-param->listener->filter(多个filter，按顺序初始化)->servlet(与filter类似) -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!-- web应用描述:给出于此相关的说明性文本 -->
	<display-name>Archetype Created Web Application</display-name>
	
	<!-- druid配置sql监控 StatViewServlet是一个标准的javax.servlet.http.HttpServlet，需要配置在web.xml中 
		根据配置中的url-pattern来访问内置监控页面，例如下面，内置监控页面的首页是/druid/index.html -->
	<!-- StatViewSerlvet -->
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
		<!-- Reset ALL功能会导致所有计数器清零，重新统计。  -->
		<init-param>
			<param-name>resetEnable</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- 禁止or启动session统计功能 -->
		<init-param>
			<param-name>sessionStatEnable</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- 配置该属性可以使druid知道当前的session的用户是谁 -->
		<init-param>
			<param-name>principalSessionName</param-name>
			<param-value>loginName</param-value>
		</init-param>
		<!-- 配置监控单个url调用的sql列表，在监控页面的WebURI选项查看 -->
		<init-param>
			<param-name>profileEnable</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- StatViewSerlvet展示出来的监控信息比较敏感，是系统运行的内部情况 可以通过配置allow和deny来做访问控制,判断规则： 
			deny优先于allow,如果在deny列表中，就算是allow列表中也会被拒绝，如果allow没有配置 或者为空，则运行所有访问(由于匹配规则不支持IPV6，配置了allow或者deny之后，会导致IPV6无法访问监控界面。) -->
		<init-param>
			<param-name>allow</param-name>
			<!-- 注意：1)配置了之后不能使用localhost访问，但可以用127.0.0.1 2)128.242.127.1/24 24表示，前面24位是子网掩码，比对的时候，前面24位相同就匹配。 -->
			<param-value>127.0.0.1,192.168.1.50</param-value>
		</init-param>
		<init-param>
			<param-name>deny</param-name>
			<param-value>192.168.1.55</param-value>
		</init-param>
		<!-- 配置用户名和密码 -->
		<init-param>
			<param-name>loginUsername</param-name>
			<param-value>druid</param-value>
		</init-param>
		<init-param>
			<param-name>loginPassword</param-name>
			<param-value>admin</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	
	<!-- WebStatFilter用于采集web-jdbc关联监控的数据 -->
	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<!-- exlusions配置，经常需要排除一些不必要的url,例如.js, -->
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>*.html,*.js,*.css,*.gif,*.jpg,*.png,*.ico,/druid/*</param-value>
		</init-param>
		<!-- 缺省是1000个，可以按需配置 -->
		<init-param>
			<param-name>sessionStatMaxCount</param-name>
			<param-value>1000</param-value>
		</init-param>
		<init-param>
			<param-name>principalSessionName</param-name>
			<param-value>loginName</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<!-- 配置struts2 -->
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>
			<!-- 
				org.apache.struts2.dispatcher.FilterDispatcher是早期的struts2过滤器，2.1.3StrutsPrepareAndExecuteFilter开始替换FilterDispatcher
			--> 
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
		<init-param>
			<param-name>actionPackages</param-name>
			<param-value>com.xininit.controller</param-value>
		</init-param>
		
	</filter>
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	<!-- 配置spring -->
	<!-- 指定spring的配置文件，默认从web根目录寻找配置文件，我们可以通过spring提供的classpath:前缀指定从类路径下寻找 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:beans.xml</param-value>
	</context-param>
	<!-- 对Spring容器进行实例化 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 默认打开页面 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
